#!/usr/bin/make -f
export DH_VIRTUALENV_INSTALL_ROOT=/opt/venvs
SNAKE=/usr/bin/python3
EXTRA_REQUIREMENTS=--upgrade-pip --preinstall "setuptools>=17.1" --preinstall "wheel"
NODEENV_VERSION=1.3.1

PACKAGE=$(shell dh_listpackages)
DH_VENV_ARGS=--setuptools --builtin-venv --python $(SNAKE) $(EXTRA_REQUIREMENTS)
DH_VENV_DIR=debian/$(PACKAGE)$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)

ifeq (,$(wildcard $(CURDIR)/.npmrc))
	NPM_CONFIG=~/.npmrc
else
	NPM_CONFIG=$(CURDIR)/.npmrc
endif

%:
	dh $@ --with python-virtualenv $(DH_VENV_ARGS)

.PHONY: override_dh_virtualenv override_dh_strip override_dh_shlibdeps

override_dh_virtualenv:
	dh_virtualenv $(DH_VENV_ARGS)

override_dh_strip:
	dh_strip --exclude=cffi

override_dh_shlibdeps:
	dh_shlibdeps -X/x86/ -X/numpy.libs -X/scipy/.libs -X/matplotlib/.libs
